# IP del reloj ZKTeco K30 en la red local
CHECADOR_IP=192.168.1.100
CHECADOR_PUERTO=4370

# URL del servidor RH ATA
BACKEND_URL=http://62.238.3.136/api

# API key del dispositivo (generada al crear el dispositivo en BD)
API_KEY=5f624005a8bbde84d73f8e01d5e81e5cd9a170d49ed9478f750094f880f857d3

# Cada cuántos minutos sincronizar (default 5)
INTERVALO_MINUTOS=5
